<!DOCTYPE html>
<!--
/**
* Copyright 2014 Pacific Controls Software Services LLC (PCSS). All Rights Reserved.
*
* This software is the property of Pacific Controls  Software  Services LLC  and  its
* suppliers. The intellectual and technical concepts contained herein are proprietary 
* to PCSS. Dissemination of this information or  reproduction  of  this  material  is
* strictly forbidden  unless  prior  written  permission  is  obtained  from  Pacific 
* Controls Software Services.
* 
* PCSS MAKES NO REPRESENTATION OR WARRANTIES ABOUT THE SUITABILITY  OF  THE  SOFTWARE,
* EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE  IMPLIED  WARRANTIES  OF
* MERCHANTANILITY, FITNESS FOR A PARTICULAR PURPOSE,  OR  NON-INFRINGMENT.  PCSS SHALL
* NOT BE LIABLE FOR ANY DAMAGES SUFFERED BY LICENSEE AS A RESULT OF  USING,  MODIFYING
* OR DISTRIBUTING THIS SOFTWARE OR ITS DERIVATIVES.
*/

/**
 * Version    :    1.0 
 * User       :    pcseg306
 * Function   :    Main Home Page (after successful login).
 */

-->
<html>
    <head>       
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="themes/default/css/components/ngDialog.css">
        <link rel="stylesheet" href="themes/default/css/gx-default.css">
		<link rel="stylesheet" href="themes/default/css/components/ngDialog-theme-default.css">	
		<script src="libs/utils/accordion.js"></script>
		
    </head>
    <body> 
    	<!-- START: Header -->
    	<header class="gx-header">
		    <div class="gx-logo-holder"><img src="themes/default/images/gx-logo.png" alt="Galaxy 2021"></div> 
		    <nav class="gx-nav-holder">
		    	<div class="gx-nav-left">
			    	<div class="gx-nav-icon-active"><img src="themes/default/images/icons/white/home.png" alt="Home"></div>
			    	<div class="gx-nav-icon"><img src="themes/default/images/icons/white/menu.png" alt="Menu" ng-click="openMainMenuPopUp()"></div>
			    </div>
			    <div class="gx-nav-right">
			   		<div class="gx-nav-icon"><img src="themes/default/images/icons/white/favorites.png" alt="Favorites"></div>
			   		<div class="gx-nav-icon" ng-click="openSuperAdminRegistrationNotifications()">
			   			<img src="themes/default/images/icons/white/alert.png" alt="Alert" >
			   			<!-- START: Alert Count -->
			    		<span class="gx-alert-count">9999999</span>
			    		<!-- END: Alert Count -->			   		
			   		</div>
			   		<div class="gx-nav-icon"><img src="themes/default/images/icons/white/dashboard.png" alt="Dashboard"></div>
			    	<div class="gx-nav-icon"><img src="themes/default/images/icons/white/help-global.png" alt="Help"></div>
			    	<div class="gx-nav-icon">
			    		<img src="themes/default/images/icons/white/user-profile.png" alt="User Profile">
			    		<!-- START: User name and role -->
			    		<span class="gx-user-profile">
			    			<span class="gx-user-name">Mark H Smith</span>
			    			<span class="gx-user-role">Administrator</span>		
			    		</span>
			    		<!-- END: User name and role -->
			    	</div>
			    	<div class="gx-nav-icon"><img src="themes/default/images/icons/white/logout.png" alt="Logout"></div>
			    </div>
		    </nav>		   
		</header> 
		<!-- END: Header -->
		<!-- START: Body Content -->
<!-- 		<div ui-view="homeView"> -->
<!-- 		</div> -->
		
		<div  class="gx-breadcrumb-holder">
	    	<div class="gx-breadcrumb">You are here:</div>
	    	<!-- START: Breadcrumb links -->		    	
	    	Home > <a href="#">Applications</a>
	    	<!-- END: Breadcrumb links -->
	    </div>  
	    <div class="gx-module-wrapper">
	   		<!-- START: Load sub-module when required -->
	    	<article class="gx-sub-module"> 
			    <header>
			    	<div class="gx-pagetitle">
			    		Alert
			    		<div class="gx-page-help"><img src="themes/default/images/icons/white/page-help.png" alt="Help"></div>
			    		<div class="gx-fav"><img src="themes/default/images/icons/white/fav-add.png" alt="Add to Favorites"></div>
			    	</div>
			    </header> 
			    <section>
			    	<p>Place contents here...</p>
			         
			    </section>
			</article>
			<!-- END: Load sub-module when required -->
		
			<!-- START: Main Module -->
			<article class="gx-main-module"> 
			    <header>
			    	<div class="gx-pagetitle">
			    		Home
			    		<div class="gx-page-help"><img src="themes/default/images/icons/white/page-help.png" alt="Help"></div>
			    		<div class="gx-fav"><img src="themes/default/images/icons/white/fav-add.png" alt="Add to Favorites"></div>
			    	</div>
			    </header> 
			    <section>
			    	<p>Vestibulum sed nisl ac lectus pharetra faucibus. Fusce vitae arcu aliquam magna bibendum convallis in sit amet nunc. Donec tempor nulla turpis, vel malesuada mi commodo vitae. Nam vulputate sodales ultrices. Cras in tempor mi. Donec ac mi augue. Fusce mollis, tortor at hendrerit facilisis, ipsum orci pellentesque urna, ut consequat nulla arcu ac dui. Vestibulum ut pulvinar lorem, eu cursus nibh. Morbi tincidunt vitae enim sed malesuada. Donec tincidunt felis a hendrerit lobortis. Nunc ornare auctor eros, ut rutrum lectus venenatis eu. Donec dignissim fermentum ullamcorper. Integer vitae mattis lorem. Sed id nisi tempus, malesuada elit at, molestie nisi. Nam sodales lobortis ante, et semper libero. Cras eget est nisi. </p>
			         
			    </section>
			</article>
			<!-- END: Main Module -->
			
			<article class="gx-main-module"> 
			    <header>
			    	<div class="gx-heading1">Preferences</div>
			    </header> 
			    <section>
			    	<p>Place contents here...</p>			         
			    </section>
			</article>
		</div>

		<!-- END: Body Content -->
		
		<!-- START: Footer -->
		<footer>
		    <div class="gx-footer">
		    	<div class="gx-footer-left">
					<div class="gx-copyright">Copyright &copy; 2014 Pacific Controls. All Rights Reserved.</div>
				</div>
				<div class="gx-footer-right">
					<div class="gx-footer-links"><a href="#">Privacy Policy</a></div>
					<div class="gx-footer-links"><a href="#">Terms & Conditions</a></div>
				</div>
			</div> 
		</footer>  
		<!-- END: Footer -->
	

    </body>
</html>
