
/**for reject message style**/
textarea{
	width:650px;
}

  /**pop up status style**/
  table{
  width:80%;
  padding:20px;
  margin:auto;
  }
  
  table tr td{
   padding:10px;
  }
  
  .statusHistory{
  border-radius:8px;
  border-color:#8968cd;
  border:1px solid #8968cd;
  padding:20px;
  }
