<!DOCTYPE html>
<!--
/**
* Copyright 2014 Pacific Controls Software Services LLC (PCSS). All Rights Reserved.
*
* This software is the property of Pacific Controls  Software  Services LLC  and  its
* suppliers. The intellectual and technical concepts contained herein are proprietary 
* to PCSS. Dissemination of this information or  reproduction  of  this  material  is
* strictly forbidden  unless  prior  written  permission  is  obtained  from  Pacific 
* Controls Software Services.
* 
* PCSS MAKES NO REPRESENTATION OR WARRANTIES ABOUT THE SUITABILITY  OF  THE  SOFTWARE,
* EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE  IMPLIED  WARRANTIES  OF
* MERCHANTANILITY, FITNESS FOR A PARTICULAR PURPOSE,  OR  NON-INFRINGMENT.  PCSS SHALL
* NOT BE LIABLE FOR ANY DAMAGES SUFFERED BY LICENSEE AS A RESULT OF  USING,  MODIFYING
* OR DISTRIBUTING THIS SOFTWARE OR ITS DERIVATIVES.
*/

/**
 * Version    :    1.0 
 * User       :    PCSCS204
 * Function   :    New User Registration Page
 */

-->

<html>
  <head>      
		<script data-require="ng-table-export@0.1.0" data-semver="0.1.0" src="http://bazalt-cms.com/assets/ng-table-export/0.1.0/ng-table-export.js"></script>
		<script data-require="ng-table@*" data-semver="0.3.0" src="http://bazalt-cms.com/assets/ng-table/0.3.0/ng-table.js"></script>  
		<link data-require="ng-table@*" data-semver="0.3.0" rel="stylesheet" href="themes/default/css/adminNotification/ngTable.css" />
		<link rel="stylesheet" href="themes/default/css/adminNotification/gx-adminNotification.css" />   
		<link rel="stylesheet" href="themes/default/css/adminNotification/popUpStatus.css">			
		<link rel="stylesheet" href="themes/default/css/adminNotification/bootstrap.min.css">			
		<link rel="stylesheet" href="themes/default/css/components/ngDialog.css">
		<link rel="stylesheet" href="themes/default/css/adminNotification/styleAdminNotification.css" />
	        <link rel="stylesheet" href="themes/default/css/gx-Home.css">
	

		
		  
  </head>
  
  <body >
  	<div id="dl">
			<img src="themes/default/images/gx-logo-login.png" style="height:22 px;width:100px;"> 
			<img src="themes/default/images/icons/home.png"> 
			<img src="themes/default/images/icons/menu.png" ng-click="openMainMenuPopUp()" alt="Show Menu Popup">
		</div>
		 <div id="dr">
		 	<img src="themes/default/images/icons/favourites.png">
		 	<img src="themes/default/images/icons/alerts.png" ng-click="openSuperAdminRegistrationNotifications()">
		 	<img src="themes/default/images/icons/dashboard.png" ng-click="openRoleManagement()">
			<img src="themes/default/images/icons/help.png">
			<img src="themes/default/images/icons/profile.png"> 
			<img src="themes/default/images/icons/logout.png">
		</div>
        
    <table ng-table="tableParams" class="table">
        <tbody ng-repeat="p in notificationArray">
        
        <tr id="tr{{p.id}}" ng-class-odd="'odd'" ng-class-even="'even'">
           <td class="rowTd" data-title="'SiNo'" sortable="'index'">{{$index+1}}</td>
            <!-- <td class="rowTd" data-title="'SiNo'" sortable="'id'">{{p.id}}</td>-->
            <td class="rowTd" style="cursor: pointer;" data-title="'Company Name'"sortable="'companyname'" ng-click="showCompanyDetails(p,'lg')"><a href="">{{p.companyname}}</a></td>
            <td class="rowTd" data-title="'User Id'"sortable="'userid'">{{p.userid}}</td>
            <td class="rowTd" data-title="'Phone No'"sortable="'phone'">{{p.phone}}</td>
            <td class="rowTd" data-title="'Primary Email'" sortable="'email'">{{p.email}}</td>
            <td class="rowTd" data-title="'Enquiry Date & Time'"sortable="'date'">{{p.date}}</td>
            <td class="rowTd" style="cursor: pointer;" data-title="'Status'" sortable="'status'" ng-click="showPopupStatus(p,'lg')"><a href="">{{p.status}}</a></td>
            <td class="rowTd" style="cursor: pointer;" data-title="'Action'" sortable="'actions'" ng-click="showPopupAction(p,'lg')"><a href="">{{p.actions}}</a></td>
           <!--   <td class="rowTd" style="cursor: pointer;"  ng-click="deleteRow(row)" ng-hide="isTemp($index)"><button><img src="images/del.png"/></td>-->
           <td class="rowTd" style="cursor: pointer;" ng-click="deleteRow(p)" ng-hide="isTemp($index)"><img src="themes/default/images/icons/del.png"/></td>
    	</tr>
       
    </tbody>
    </table>
    
    
   
    
     
  </body>
</html> 