<!DOCTYPE html>
<!--
/**
* Copyright 2014 Pacific Controls Software Services LLC (PCSS). All Rights Reserved.
*
* This software is the property of Pacific Controls  Software  Services LLC  and  its
* suppliers. The intellectual and technical concepts contained herein are proprietary 
* to PCSS. Dissemination of this information or  reproduction  of  this  material  is
* strictly forbidden  unless  prior  written  permission  is  obtained  from  Pacific 
* Controls Software Services.
* 
* PCSS MAKES NO REPRESENTATION OR WARRANTIES ABOUT THE SUITABILITY  OF  THE  SOFTWARE,
* EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE  IMPLIED  WARRANTIES  OF
* MERCHANTANILITY, FITNESS FOR A PARTICULAR PURPOSE,  OR  NON-INFRINGMENT.  PCSS SHALL
* NOT BE LIABLE FOR ANY DAMAGES SUFFERED BY LICENSEE AS A RESULT OF  USING,  MODIFYING
* OR DISTRIBUTING THIS SOFTWARE OR ITS DERIVATIVES.
*/

/**
 * Version    :    1.0 
 * User       :    pcseg306
 * Function   :    Forgot Password Page
 */

-->
<html lang="en" ng-app="myApp">
<head>
    <title>Forgot Password</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="css/regForm-css.css" rel="stylesheet">
     <script src="js/angular.min.js"></script>
     <script src="http://code.angularjs.org/1.2.5/angular.js" data-semver="1.2.5" data-require="angular.js@1.2.5"></script>
</head>

<body>

<div  class="form-style" >
    <h2>Forgot Password</h2>
<form ng-submit="submitForm(form.$valid)" name="form" novalidate  >  
<div>
    <input class="inputStyle" type="email" name ="email" ng-maxlength="100" ng-model="user.email" placeholder="Email Address" required/>
 <span ng-show=" form.email.$dirty && form.email.$error.required">Please confirm your email id!</span>
<span ng-show="form.email.$dirty &&  form.email.$error.email">Not a valid email address</span>
</div>

<div class="buttons">
<button ng-disabled="!form.$valid" type="submit" class="">Submit</button><a href="loginForm.html">Log in</a>
</div>

    
</form>
 </div>
    <script>
        var app = angular.module('myApp', []);

myApp.controller('MyCtrl', function($scope) {
$scope.submitForm = function(isValid) {

		// check to make sure the form is completely valid
		if (isValid) { 
			alert('saving...');
		}

	};
        
        $scope.reset = function() {
        $scope.form.$setPristine();
        $scope.model = '';
        $scope.form.$setPristine(true);
    };
});

    </script>
</body>
</html>