<div class="footer">
	<div class="container-fluid">
		<div class="row">
			<!--Empty columns are to properly space content.  
			Note the columns add up to 12 in alignment with bootstrap's grid-->
			
			<div class="col-md-2"></div>
			<div class="col-md-4">
				Copyright 2014 Pacific Controls. All Rights Reserved.
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-2"></div>
			<div class="col-md-2">
				<a href="#">Privacy Policy</a> &nbsp;&nbsp; <a href="#">Terms & Conditions</a>
			</div>
		</div>
	</div>
</div>