<!DOCTYPE html>
<!--
/**
* Copyright 2014 Pacific Controls Software Services LLC (PCSS). All Rights Reserved.
*
* This software is the property of Pacific Controls  Software  Services LLC  and  its
* suppliers. The intellectual and technical concepts contained herein are proprietary 
* to PCSS. Dissemination of this information or  reproduction  of  this  material  is
* strictly forbidden  unless  prior  written  permission  is  obtained  from  Pacific 
* Controls Software Services.
* 
* PCSS MAKES NO REPRESENTATION OR WARRANTIES ABOUT THE SUITABILITY  OF  THE  SOFTWARE,
* EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE  IMPLIED  WARRANTIES  OF
* MERCHANTANILITY, FITNESS FOR A PARTICULAR PURPOSE,  OR  NON-INFRINGMENT.  PCSS SHALL
* NOT BE LIABLE FOR ANY DAMAGES SUFFERED BY LICENSEE AS A RESULT OF  USING,  MODIFYING
* OR DISTRIBUTING THIS SOFTWARE OR ITS DERIVATIVES.
*/

/**
 * Version    :    1.0 
 * User       :    PCSCS204
 * Function   :    Main Home Page (from home open management will display).
 */

-->

<html>
<head>
    <script  src="http://code.angularjs.org/1.1.0/angular.min.js"></script>
    <script data-require="ng-table@*" data-semver="0.3.1" src="http://bazalt-cms.com/assets/ng-table/0.3.1/ng-table.js"></script>
    <script  src="libs/jquery-ui.js"></script>
    <script  src="libs/jquery-1.8.2.js"></script>
    <link data-require="ng-table@*" data-semver="0.3.1" rel="stylesheet" href="http://bazalt-cms.com/assets/ng-table/0.3.1/ng-table.css" />
    <link data-require="bootstrap-css@*" data-semver="3.0.0" rel="stylesheet" href="themes/default/css/adminNotification/bootstrap.min.css" />
    <link rel="stylesheet" href="themes/default/css/roleMgnt/jquery-ui.css" />  
    <link rel="stylesheet" href="themes/default/css/roleMgnt/styleRoleMgnt.css" />
    <script src="script.js"></script>
</head>
<body >
    <div ng-controller="roleManagementController" >
  
<div class="gx-page-title">Manage Role
<button class="gx-create-role-btn" type="submit" ng-click="view()">Create Role</button>
</div>
<div class="gx-search">Search


        <div class="input-append text-right">
            <input type="text" ng-model="search" />
            <button class="btn" type="button" ng-click="geoCode()" ng-disabled="search.length == 0" title="search" >
<!--&nbsp;<i class="icon-search"></i> -->search </button>
            <button class="btn" type="button" ng-click="gotoCurrentLocation()" title="current location">
<!--&nbsp;<i class="icon-home"></i> -->more option</button>            
      <input id="dp" type="text" ng-model="userInfo.person.mDate" name="mDate" myDatepicker/>
           
            
        </div>
   

</div>



<div class="tableStyleRoleMngt">
        <table ng-table="tableParams" show-filter="true" class="table ng-table-rowselected">
<!--             <tr> -->
<!--             <td colspan="7" filter="{ 'siNo': 'text,' 'userId': 'text' ,'userName': 'text','phone': 'text', -->
<!--             'email': 'text','role': 'text','status': 'text'}"></td> -->
<!--             </tr>  <td data-title="'SiNo'" sortable="'siNo'" filter="{ 'siNo': 'text' }">
                    {{user.siNo}}
                </td>
-->
            
            <tr ng-repeat="user in $data"  ng-click="user.$selected = !user.$selected; changeSelection(user)"  ng-class="{'active': user.$selected}">
                                
                <td data-title="'SiNo'" sortable="'siNo'" >
                    {{$index+1}}
                </td>
                
                <td data-title="'Role Id'" sortable="'roleId'" >
                    {{user.roleId}}
                </td>
                
                <td data-title="'Role Name'" sortable="'roleName'" >
                    {{user.roleName}}
                </td>
                
                <td data-title="'No of Users'" sortable="'noOfUsers'" >
                    {{user.noOfUsers}}
                </td>
                
                <td data-title="'Created Date'" sortable="'createdDate'" >
                    {{user.createdDate}}
                </td>
               
                <td  style="cursor: pointer;" data-title="'Actions'"><a href="" ng-click="view()">View&nbsp;|&nbsp;</a><a href="" ng-click="view()" >Clone&nbsp;|&nbsp;</a><a href="" ng-click="view()" >Edit</a></td>
                <td  style="cursor: pointer;" data-title="''"><a href="" ng-click="delete()" >Delete</a></td>
            </tr>
        </table>
        </div>
    </div>
</body>
</html>