<html ng-app>
<head>
<meta charset="UTF-8">
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-cookies.min.js"></script>
 <link href="../../themes/default/css/gx-main.css" rel="stylesheet" type="text/css" /> 
   <link href="../../themes/default/css/gx-login.css" rel="stylesheet" type="text/css" /> 
   <script src="libs/jquery.csv-0.71.min.js"></script>
	    	<script src="libs/ng-tree.js"></script>
 <style>

</style>
<script>
function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;
    return true;
}    
</script>
 </head>
<body>
<div id="gxtleft"><img src="../../themes/default/images/logo.png" style="height:50px;width:100px;"> <img src="../../themes/default/images/home.png"> <img src="../../themes/default/images/menu.png"></div> <div id="gxtright"><img src="../../themes/default/images/favourites.png"> <img src="../../themes/default/images/alerts.png"> <img src="../../themes/default/images/dashboard.png">
<img src="../../themes/default/images/help.png"> <img src="../../themes/default/images/profile.png"> <img src="../../themes/default/images/logout.png"></div>
<div id="gxtloc">You are here : Home</div>
<div id="gxbgtop"><div id="gxttm1"><a href="" ng-click="window.location.href='#CreateUsers'">Create Users</a></div></div>
<div id="gxfrm1">
<br><b>User ID</b>*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" style="height:4%;width:15%;" ng-maxlength="50" ng-model="" required><br><br>
<b>User Name</b>*&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" style="height:4%;width:15%;" ng-maxlength="50" ng-model="" required><br><br>
<b>Role</b>*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select style="height:4%;width:15%;"><option value="Manager">Manager</option><option value="Supervisor">Supervisor</option></select><br><br>
<b>Email</b>*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="email" style="height:4%;width:15%;" ng-maxlength="50" ng-model="" required></div>

<div id="gxfrm2">
<br><b>Contact No</b>*&nbsp;&nbsp;<input type="number" style="height:4%;width:3%;" onkeyup="this.value=this.value.replace(/[^\d]/,'')" required>&nbsp;&nbsp;&nbsp;<input type="number" style="height:4%;width:12%;" onkeyup="this.value=this.value.replace(/[^\d]/,'')" required><br><br>
<b>Location</b>*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" style="height:4%;width:10%;" ng-maxlength="50" ng-model="" required><br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="gxActive" name="gx-status" value="all">Active&nbsp;&nbsp;&nbsp;<input type="radio" id="gxInactive" name="gx-status" value="all">Inactive
<br><br><br>	<input type="button" value="Save" style="height:4%;width:10%;" onClick="location.href='#ManageUsers'">&nbsp;&nbsp;&nbsp;<input type="button" value="Cancel" style="height:4%;width:10%;" onClick="location.href='#ManageUsers'">						</div>
<div id="gxtreepos">
<br><b>Select Entity List:</b><br>
<div id="gxtree"></div><span ng-bind="treedata"></span>
</div>

<div id="gxftr"><div id="gxff1">Copyright 2014 Pacific Controls. All Rights Reserved.</div><div id="gxff2"><a href="#">Privacy Policy</a> &nbsp;&nbsp; <a href="#">Terms & Conditions</a></div></div>
</body>

</html>