<!DOCTYPE html>
<!--
/**
* Copyright 2014 Pacific Controls Software Services LLC (PCSS). All Rights Reserved.
*
* This software is the property of Pacific Controls  Software  Services LLC  and  its
* suppliers. The intellectual and technical concepts contained herein are proprietary 
* to PCSS. Dissemination of this information or  reproduction  of  this  material  is
* strictly forbidden  unless  prior  written  permission  is  obtained  from  Pacific 
* Controls Software Services.
* 
* PCSS MAKES NO REPRESENTATION OR WARRANTIES ABOUT THE SUITABILITY  OF  THE  SOFTWARE,
* EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE  IMPLIED  WARRANTIES  OF
* MERCHANTANILITY, FITNESS FOR A PARTICULAR PURPOSE,  OR  NON-INFRINGMENT.  PCSS SHALL
* NOT BE LIABLE FOR ANY DAMAGES SUFFERED BY LICENSEE AS A RESULT OF  USING,  MODIFYING
* OR DISTRIBUTING THIS SOFTWARE OR ITS DERIVATIVES.
*/

/**
 * Version    :    1.0 
 * User       :    PCSCS204
 * Function   :   This is just a div class for status pop up.
 */

-->
 
<div class="modal-header">
            <h3 class="modal-title">{{selectedRowData.actions}}</h3>
        </div>   
        
        <div class="modal-body">
        	
      
        	<table>
        	<tr><td>Company Name:</td><td>{{selectedRowData.companyname}}</td><td>ContactPerson Name:</td><td>{{selectedRowData.userid}}</td></tr>
        	<tr><td>Address:</td><td>xxxx</td><td>Phone No.:</td><td>{{selectedRowData.phone}}</td></tr>
        	<tr><td>Country:</td><td>xxxx</td><td>Mobile No.:</td><td>xxxx</td></tr>
        	<tr><td>Company Website:</td><td>xxxx</td><td>Fax No.:</td><td>xxxx</td></tr>
        	<tr><td>Primary Email:</td><td>{{selectedRowData.email}}</td><td>Secondary Email</td><td>xxxx</td></tr>
        	<tr><td colspan="4"></td></tr>
        	<tr><td colspan="4" >Details</td></tr>
			<tr><td colspan="2">Enquiry Date & Time:</td><td colspan="2">{{selectedRowData.date}}</td></tr>
        	</table>

        </div>
        
   		<div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    
  
    

 
 
  