<!DOCTYPE html>
<!--
/**
* Copyright 2014 Pacific Controls Software Services LLC (PCSS). All Rights Reserved.
*
* This software is the property of Pacific Controls  Software  Services LLC  and  its
* suppliers. The intellectual and technical concepts contained herein are proprietary 
* to PCSS. Dissemination of this information or  reproduction  of  this  material  is
* strictly forbidden  unless  prior  written  permission  is  obtained  from  Pacific 
* Controls Software Services.
* 
* PCSS MAKES NO REPRESENTATION OR WARRANTIES ABOUT THE SUITABILITY  OF  THE  SOFTWARE,
* EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE  IMPLIED  WARRANTIES  OF
* MERCHANTANILITY, FITNESS FOR A PARTICULAR PURPOSE,  OR  NON-INFRINGMENT.  PCSS SHALL
* NOT BE LIABLE FOR ANY DAMAGES SUFFERED BY LICENSEE AS A RESULT OF  USING,  MODIFYING
* OR DISTRIBUTING THIS SOFTWARE OR ITS DERIVATIVES.
*/

/**
 * Version    :    1.0 
 * User       :    PCSCS204
 * Function   :   This is just a div class for status pop up.
 */

-->
 
<div  class="ngdialog-theme-popup-status" >
       
       <div>
			<div id="tree"></div>			   
		    <div>Selected keys: <span id="echoSelection">-</span></div>
			<div>Selected root keys: <span id="echoSelectionRootKeys">-</span></div>
			<div>Selected root nodes: <span id="echoSelectionRoots">-</span></div>
		</div>
        
    </div>
    
  
    
</body>
 



 
  