<html ng-app>
<head>
<meta charset="UTF-8">
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-cookies.min.js"></script>
 <link href="css/main.css" rel="stylesheet" type="text/css" /> 
<style>

</style>
 </head>
<body>
<div id="tleft"><img src="img/logo.png" style="height:50px;width:100px;"> <img src="img/home.png"> <img src="img/menu.png"></div> <div id="tright"><img src="img/favourites.png"> <img src="img/alerts.png"> <img src="img/dashboard.png">
<img src="img/help.png"> <img src="img/profile.png"> <img src="img/logout.png"></div>
<div id="tloc">You are here : Home</div>
<div id="bgtop"><div id="ttm1">Create Users</div></div>
<div id="frm1">
<br><b>User ID</b>*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" style="height:3.5%;width:15%;"><br><br>
<b>User Name</b>*&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" style="height:3.5%;width:15%;"><br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Reset Password?" style="height:3.5%;width:10%;"><br><br>
<b>Email</b>*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="example@example.com" style="height:3.5%;width:15%;"></div>
<div id="frm2">
<br><b>Role</b>*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select style="height:3.5%;width:15%;"><option value="Manager">Manager</option><option value="Supervisor">Supervisor</option></select><br><br>
<b>Contact No</b>*&nbsp;&nbsp;<input type="text" style="height:3.5%;width:3%;">&nbsp;&nbsp;&nbsp;<input type="text" style="height:3.5%;width:11%;"><br><br>
<b>Location</b>*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="Latitude" style="height:3.5%;width:7.2%;">&nbsp;&nbsp;<input type="text" value="Longitude" style="height:3.5%;width:7.2%;"><br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox"> Active
</div>
<div id="ftr"><div id="ff1">Copyright 2014 Pacific Controls. All Rights Reserved.</div><div id="ff2"><a href="#">Privacy Policy</a> &nbsp;&nbsp; <a href="#">Terms & Conditions</a></div></div>
</body>

</html>